.paragraph {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    width: 485px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .paragraph {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        width: 50vh
    }
  }