.links {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, 0);
}

.notice {
  font-size: 1.5vh;
  color: rgb(120, 120, 120);
  position: absolute;
  top: 1420%;
  left: 310%;
  width: 350px
}