.container {
  padding: 0 2rem;
}

.title {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(0, -50%);
  width: 750px;
  font-size: 5rem;
}

.description {
  position: absolute;
  top: 56%;
  left: 60%;
  width: 550px;
  transform: translate(0, -50%);
  font-size: 1.5rem;
}

.imageContainer {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translate(0, -50%);
  width: 80vh !important;
  background-color: transparent
}

.links {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, 0);
}
