.container {
    padding: 0 2rem;
}

.title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 10vh
}

.subtitle {
    position: absolute;
    top: 27%;
    left: 10%;
    width: 450px;
    font-size: 2.5vh;
}