.title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
    text-align: center;
}

.subtitle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    font-size: 2.5vh;
    text-align: center;
}

.subtitle code {
    background-color: rgba(199, 199, 199, 0.509); 
    border-radius: 1vh;
    font-size: 2vh
}