.title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 10vh
}

.subtitle {
    position: absolute;
    top: 27%;
    left: 10%;
    width: 450px;
    font-size: 2.5vh;
}

.subtitle code {
    background-color: rgba(199, 199, 199, 0.509); 
    border-radius: 1vh;
    font-size: 2vh
}